{% extends 'base1.html'%}

{% block body %}
    <div class="add_buttons">
        <div class="button-group">

            <a href="{% url 'display_accessory' %}"  class="btn btn-primary btn-md  btn-trim" role="button">Accessory</a>
            <a href="{% url 'add_accessory' %}" class="btn btn-warning btn-sm btn-pad" role="button">+</a>

            <a href="{% url 'display_oil'  %}"  class="btn btn-primary btn-md btn-trim" role="button">OIL</a>
            <a href="{% url 'add_oil' %}" class="btn btn-warning btn-sm btn-pad" role="button">+</a>

            <a href="{% url 'display_3m'  %}"  class="btn btn-primary btn-md btn-trim" role="button">3M</a>
            <a href="{% url 'add_3m' %}" class="btn btn-warning btn-sm btn-pad" role="button">+</a>

            <a href="{% url 'display_others' %}"  class="btn btn-primary btn-md btn-trim" role="button">OTHERS</a>
            <a href="{% url 'add_others' %}" class="btn btn-warning btn-sm btn-pad" role="button">+</a>

        </div>
    </div>


    <div>
         <h4>Currently Viewing {{ header }}</h4>
      </div>

    <table class="table table-hover">
         <thead>
      <tr>
        <th>id</th>
        <th>NAME</th>
        <th>DESC</th>
        <th>MRP</th>
        <th>PRP</th>
        <th>CATEGORY</th>
        <th>HSN CODE</th>
        <th>GST%</th>
        <th>UOM</th>
      </tr>
    </thead>

        <tbody>
             {% for item in items %}
                 <tr>
                    <td>{{ item.pk }}
                    <td>{{ item.name }}</td>
                    <td>{{ item.desc }} INR</td>
                    <td>{{ item.mrp }}</td>
                    <td>{{ item.prp }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.hnscode }}</td>
                    <td>{{ item.gstper }}</td>
                    <td>{{ item.uom }}</td>
                     {% if header|lower == "accessory" %}
                         <td>
                            <a href="{% url 'edit_accessory' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                             <a href="{% url 'delete_accessory' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
                         </td>
                      {% elif header|lower == "oil" %}
                        <td>
                            <a href="{% url 'edit_oil' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                            <a href="{% url 'delete_oil' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
                       </td>
                     {% elif header|lower == "3m" %}
                        <td>
                            <a href="{% url 'edit_3m' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                            <a href="{% url 'delete_3m' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
                        </td>
                     {% elif header|lower == "others" %}
                        <td>
                            <a href="{% url 'edit_others' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                            <a href="{% url 'delete_others' item.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
                         </td>

                     {% endif %}
                 </tr>
              {% endfor %}

        </tbody>
    </table>
{% endblock %}