    <div class=""container>
      <div class="add_buttons">
        <div class="button-group">
         {% if request.user.is_staff %}

            <a href="{% url 'display_contact' %}"  class="btn btn-primary btn-md  btn-trim" role="button">Contact Customer</a>
            <a href="{% url 'add_contact' %}" class="btn btn-warning btn-sm btn-pad" role="button">+</a>

            <a href="{% url 'display_referal' %}"  class="btn btn-primary btn-md  btn-trim" role="button">Referal Customer</a>
            <a href="{% url 'add_referal' %}" class="btn btn-warning btn-sm btn-pad" role="button">+</a>

            <a href="{% url 'display_customer' %}"  class="btn btn-primary btn-md  btn-trim" role="button">New Customer</a>
            <a href="{% url 'add_customer' %}" class="btn btn-warning btn-sm btn-pad" role="button">+</a>

            <a href="{% url 'display_feasable' %}"  class="btn btn-primary btn-md  btn-trim" role="button">Feasibility</a>
            <a href="{% url 'add_feasable' %}" class="btn btn-warning btn-sm btn-pad" role="button">+</a>

            <a href="{% url 'display_plan' %}"  class="btn btn-primary btn-md  btn-trim" role="button">Plans</a>
            <a href="{% url 'add_plan' %}" class="btn btn-warning btn-sm btn-pad" role="button">+</a>

            <a href="{% url 'display_employee' %}"  class="btn btn-primary btn-md  btn-trim" role="button">Employee</a>
            <a href="{% url 'add_employee' %}" class="Fbtn btn-warning btn-sm btn-pad" role="button">+</a>

            <a href="{% url 'display_vendor' %}"  class="btn btn-primary btn-md  btn-trim" role="button">Vendor</a>
            <a href="{% url 'add_vendor' %}" class="btn btn-warning btn-sm btn-pad" role="button">+</a>

         {% endif %}

        </div>
    </div>
    </div>