{%  extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
 <!DOCTYPE html>
<html>
{% block body %}
<br><br><br><br><br><br>
<br><br><br><br><br><br>
  <head>
      <meta charset="UTF-8">
    <title>Customer Management System</title>
  </head>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>

 <body>
 <br>
 <a class="btn btn-primary  btn-sm btn-block" href="">Simply Amazing Products</a>

<div class="container">
    <div class="row">
 	    <div class="col-md-3">
                <div class="card card-body">
                    <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; PAN Card</a>
                    <hr>
                    <hr>
                    <img class="profile-pic" src="{{request.user.newcustomer.pan.url}}" >
                </div>
        </div>
         <div class="col-md-3">
        		<div class="card card-body">
                    <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Aadhaar Card</a>
                    <hr>
                    <hr>
                    <img class="profile-pic" src="{{request.user.newcustomer.adharcard.url}}" >
            	</div>
	    </div>
         <div class="col-md-3">
        		<div class="card card-body">
                    <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Driving Licence</a>
                    <hr>
                    <hr>
                    <img class="profile-pic" src="{{request.user.newcustomer.drivinglicence.url}}" >
            	</div>
	    </div>
         <div class="col-md-3">
        		<div class="card card-body">
                    <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Electricity Bill</a>
                    <hr>
                    <hr>
                    <img class="profile-pic" src="{{request.user.newcustomer.electricitybill.url}}" >
            	</div>
	    </div>
    </div>
</div>
<div>
	{% for message in messages %}
	  <h3> {{message}}  </h3> {% now "jS F Y " %}
	{% endfor %}
</div> <br>

 <div>
 	{% if contact_new_customer %}

     	<h2> Thanks  {{  contact_new_customer }} </h2>
        <div class="about_image"><img src="{% static 'images/family12.jpg' %}" alt=""></div>
		<p><h4>We received your request  and our sales team will contact you shortly....</h4></p>
	 	<br/><br/><br/>
            <div class="card card-body">
                 <table class="table table-hover">
                      <thead>
                        <tr>
                            <th>Ref No</th>
                            <th>Date</th>
                        </tr>
                      </thead>
                     <tbody>
                         {% for item in dest %}
                              <tr>
                                  <td>{{ item.id }}</td>
                                <td>{{ item.date_created | date:"F d Y"  }}</td>
                            </tr>
                        {% endfor %}
                     </tbody>
                 </table>
            </div>

	{% else %}
         <div class="container">
            <div class="row">
              <div class="col-lg-6">
              {% if user.is_authenticated %}
                   <div class="contact_title">{{request.user}}  Welcome to DSoft Family.  </div>
              {% else %}
                  <div class="contact_title">Welcome to DSoft Family.  </div>
              {% endif %}

                <div class="about_image"><img src="{% static 'images/family14.jpg' %}" alt=""></div>
                 <div class="contact_title">DSoft ears are always open to hear your new ideas and valuable suggestions.</div>
					    <p>By engaging with the best-in-class technology partners, the company would be building a comprehensive services framework that can deliver leading edge voice, video, IT applications and multimedia content services over any broadband or IP-centric network. Such a framework is targeted towards global internet service providers, who desire to offer next generation services to customers.</p>

						<div class="contact_content">

							<div class="contact_title">Get in touch with us</div>
							<div class="contact_text">
								<p>Your questions and comments are very important to us. </p>
								<p>We've got everything covered for your needs.</p>
							</div>
							<div class="contact_list">
								<ul>
									<li>
										<div>address:</div>
                                        <div><strong>Mahindra The Woods, Park Street, Wakad, Pune, India-411045</strong></div>
									</li>
									<li>
										<div>phone:</div>
                                        <div><h4>+91 020 27800000</h4></div>
									</li>
									<li>
										<div>email:</div>
                                        <div><h4><strong>info@dsoftsonline.com</strong></h4></div>
									</li>
								</ul>
							</div>
						</div>
                 </div>
            <div class="col-lg-6">
            <form method="POST" enctype="multipart/form-data">
               {% csrf_token %}
                <h2>{{ header }}</h2>

                {% for field in form %}
                    <div class="form-group row">
                             <div class="fieldWrapper">
                              {{ field.errors }}
                             <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>
                             <div class="col-20">
                                {{ field }}
                             </div>
                             {% if field.help_text %}
                                 <p class="help">{{ field.help_text|safe }}</p>
                             {% endif %}
                        </div>
                    </div>
                {%  endfor %}

                <!-----
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                --->
                   <!----  {{ form.as_p }}  --->
                 <div class="form-group row">
                    <div class="offset-sm-2 col-sm-6">
                        <button type="submit"  class="btn btn-primary">Submit Form</button>

                    </div>
                      <div class="contact_text">
								<p>I agree to receive follow-ups call from DSoft Sales Teams. </p>
								<p>Company reserves the right to accept or reject the form.</p>
                        </div>
                </div>
            </form>

            </div>
            </div>
        </div>
 	{% endif %}
 </div>
 <br><br>
  <img class="profile-pic" src="{{request.user.newcustomer.pan_pic.url}}" >
 </body>
{% endblock %}
</html>
