 {% extends 'basecustomer.html'%}

{% block body %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:{{customer.first_name}}  {{customer.last_name}}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'edit_customer' customer.id %}">Update Customer</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_order' customer.id %}">Place Order</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{customer.email}}</p>
			<p>Phone: {{customer.mobileno}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>
 <div>
	 {% for installation in installations %}
	 <p><strong><h6>Customer ID for correspondence is: {{customer.id}}    MAC-ID:{{installation.macid}}     ONT Sr.No.:{{installation.ontsrno}}</h6> </strong></p>
     {% endfor %}
 </div>
<div class="row">
	<div class="card card-body">
		<a class="btn btn-primary  btn-sm btn-block" >Installation Pipeline</a>

		<table class="table table-sm">
			<tr>
				<th><a class="btn btn-outline-info  btn-sm" href="{% url 'edit_installation' customer.id %}">Form Approval</a></th>
				<td><a class="btn btn-outline-info  btn-sm " href="{% url 'edit_ococ' customer.id %}">OCOC creation</a></td>
				<td><a class="btn btn-outline-info  btn-sm " href="{% url 'edit_cable' customer.id %}">Cabelling work</a></td>
				<td><a class="btn btn-outline-info  btn-sm " href="{% url 'edit_pay' customer.id %}">Payment realised</a></td>
				<td><a class="btn btn-outline-info  btn-sm " href="{% url 'edit_date' customer.id %}">Installation</a></td>
				<td><a class="btn btn-outline-info  btn-sm " href="{% url 'edit_wo' customer.id %}">W.O. completed</a></td>
				<td><a class="btn btn-outline-info  btn-sm " href="{% url 'edit_status' customer.id %}">Status</a></td>
				<td><a class="btn btn-outline-info  btn-sm " href="{% url 'edit_feedback' customer.id %}">Customer Feedback</a></td>
			</tr>
			<tr>
				{% for installation in installations %}
					<td><p>{{installation.time1approval}}</p></td><!---form approval date---->
				   <td><p>{{installation.timeococ}}</p></td><!---form approval date---->
				   <td><p>{{installation.cablingtime}}</p></td><!---form approval date---->
				 	<td><p>{{installation.timepayment}}</p></td><!---form approval date---->
					<td><p>{{installation.time1installed}}</p></td><!---form approval date---->
				   <td><p>{{installation.timewo}}</p></td><!---form approval date---->
				   <td><p>{{installation.status}}</p></td><!--wo-->
   	     			<td><p>{{installation.feedbacktime}}</p></td><!--feedback-->
				{% endfor %}
			</tr>
			<tr>
			    {% for installation in installations %}
					<td><p>{{installation.dateapproval| date:"d F Y"}}</p></td><!---form approval date---->
					<td><p>{{installation.dateococ| date:"d F Y"}}</p></td><!---ococ--->
					<td><p>{{installation.cablingdate| date:"d F Y"}}</p></td><!----Cabelling -->
					<td><p>{{installation.datepayment| date:"d F Y"}}</p></td><!---Payment released date----->
					<td><p>{{installation.dateinstalled| date:"d F Y"}}</p></td><!--installed date--->
					<td><p>{{installation.datewo| date:"d F Y"}}</p></td><!--wo-->
					<td><p>{{installation.status}}</p></td><!--wo-->
					<td><p>{{installation.feedbackdate| date:"d F Y"}}</p></td><!--feedback-->
					<td><a class="btn btn-sm btn-info" href="{% url 'edit_inst' installation.id %}">View</a></td>
				{% endfor %}

			</tr>
		</table>
	</div>
</div>
 <div>
	{% for message in messages %}
	  <h3> {{message}}  </h3>
	{% endfor %}
</div> <br>
<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="#">Order Search Option</a>
			<form method="get">
				{{myFilter.form.as_table}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="#">Customer Order Details</a>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Note</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>

				{% for order in orders %}

				<tr>
					<td>{{order.product}}</td>
					<td>{{order.note}}</td>
					<td>{{order.date_created| date:"F d"}}</td>
					<td>{{order.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order1'  order.id %}">Update</a></td>
					<!----------------
					<td> <a href="{% url 'edit_ord' order.id %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a></td>
					--------->
					<td><a onclick="return confirm('Are you sure you want to delete this?')"    href="{% url 'delete_order' order.id %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true"  > x</a></td>

				<tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
<br><br><br>
{% endblock %}