{% extends 'basecustomer.html' %}

{% block body %}

    {% include 'basecustomernav.html'%}

    <div>
        <div class="card card-body">
            <h5>Currently Viewing {{ header }}</h5>
        </div>
      </div>
    <div class="row">
      <div class="card card-body">
        <div class="card card-body">
            <table class="table table-hover">

                 <thead>
                   <tr>
                        <th>id</th>
                        <th>eMail</th>
                        <th>Subject</th>
                        <th>Mobile</th>
                        <th>DateReg</th>
                        <th>Status</th>
                    </tr>
                 </thead>

                <tbody>
                     {% for item in items %}
                         <tr>
                            <td>{{ item.pk }}
                            <td>{{ item.email }}</td>
                            <td>{{ item.subject }}</td>
                            <td>{{ item.mobile }}</td>
                            <td>{{ item.date_reg1 }}</td>
                            <td>{{ item.status }}</td>


                            {% if header|lower == "contact" %}
                                 <td>
                                    <a href="{% url 'edit_contact' item.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                                     <a href="#" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
                                 </td>
                              {% elif header|lower == "referral" %}
                                <td>
                                    <a href="{% url 'edit_referal' item.pk" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                                    <a href="#" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
                               </td>
                             {% elif header|lower == "new" %}
                                <td>
                                    <a href="#" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
                                    <a href="#" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > x</a>
                                </td>
                             {% endif %}
                         </tr>
                      {% endfor %}

                </tbody>
            </table>
        </div>
      </div>
    </div>

{% endblock %}